
@{
    ViewBag.Title = "HowToApply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <br />
    <div class="container">
        <h1>How To Apply</h1>
        <p>
            This is a guidance how to apply for visa to Cambodia. It is created in the intent of providing you the
            convenient methods to be familiar with each step of e-Visa application. If you're a newcomer to the system,
            we highly recommend you to pay attention on this guide before applying in order to find out the processes
            espcially to avoid the mistakes. Please look at the slideshow as the following:
        </p>
        <h2>CONTACT INFORMATION (STEP 1)</h2>
        <p>
            Here, you are required to provide the accurate contact information. There will be very important for e-Visa system
            during proceeding payment and e-Visa certificate generating. Please see the picture as shown.
        </p>
        <img src="/Images/Apply/1.jpg" />
        <p>
            Before continuing to the next page you must read and agree "term of conditions" to avoid any violation during you apply.
        </p>
        <h2>
            APPLICATION DATA (STEP 2)
        </h2>
        <p>
            After fill up contact information completed, the next you are required to fulfill the personal information by including
            (Surname, Given name, Date of birth, Country of birth, Nationality, Photo, Passport Information and Entry date to Cambodia).
            Please look at the form picture below.
        </p>
        <img src="/Images/Apply/2.jpg" />
        <p>
            The application data will be shown on the e-Visa certificate after approval. So you are needed to fulfill the correct information as required.
        </p>
        <h2>
            REVIEW (STEP 3)
        </h2>
        <p>
            After you completed the application data and right here you are required to double check your application information once again to clarify.
        </p>
        <img src="/Images/Apply/3.jpg" />
        <p>
            1. If there is any incorrect information you can click "Back" button to re-edit.
            <br />
            2. Click "Continue" button to move to the payment page.
        </p>
        <h2>
            PAYMENT PAGE (STEP 4)
        </h2>
        <p>
            This step you have to take note the "Reference Number" & "Primary Email" or print it out to keep as reference in case you encounter any problem.
        </p>
        <img src="/Images/Apply/4.jpg" />
        <p>
            Click on "Continue to proceed payment" button to fill up your credit card information.
        </p>
        <h2>
            COMPLETE (STEP 5)
        </h2>
        <p>
            When the payment is succeeded you will see this page with payment status is "Approved". Your visa information is already sent to e-Visa office. Afte that e-Visa officers will check information/approve and e-Visa certificate send thru your email in 3 working days.
        </p>
        <img src="/Images/Apply/5.jpg" />
        <p>
            When the payment is succeeded you will see this page with payment status is "Approved". Your visa information is already sent to e-Visa office. Afte that e-Visa officers will check information/approve and e-Visa certificate send thru your email in 3 working days.
        </p>
        <br /><br />
    </div>
</div>