
@{
    ViewBag.Title = "TellUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model eVisa.ViewModel.FeedbackView

@using (Html.BeginForm("TellUs", "Information", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", @Id = "frmCreate", name = "formEmail" }))
{
    <div class="content">
        <br />
        <div class="container">
            <h1 class="modal-title"> Feedback </h1>
            <div class="modal-body ">
                <p>
                    Thanks for letting us know what you think. Your feedback will help us to improve e-Visa system.
                </p>
                <p>
                    @Html.ValidationMessage("result")
                </p>
                <br />
                <div>

                    <md-input-container class="md-block">
                        <label>Name</label>
                        <input required name="name" ng-model="name">
                        <div ng-messages="formEmail.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input required type="email" name="email" ng-model="email">
                        <div ng-messages="formEmail.email.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>FeedBack</label>
                        <textarea ng-model="Content" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                
                <div class="">
                    <button type="submit" class="btn waves-effect waves-light" name="save" value="save">
                        <span class="fa fa-send-o"></span>
                        Save
                    </button>
                </div>
            </div>
            <br /><br />

        </div>
    </div>
}

