@{
    ViewBag.Title = "User Profile";
}
<div class="content">
    <br />
    <div class="container">
        <h1>User Account</h1>
        <ul class="accountLinkList">
            <li>
                <a href="/User/Profile">
                    <i class="fa fa-user"></i>
                    View or change my account information.
                </a>
            </li>
            <li>
                <a href="/User/Change">
                    <i class="fa fa-cogs"></i>
                    Change my account password.
                </a>
            </li>
            <li>
                <a href="/User/History">
                    <i class="fa fa-history"></i>
                    Application History
                </a>
            </li>
        </ul>
        <button class="btn" data-toggle="modal" data-target="#apply_single_evisa">
            <i class="fa fa-plus"></i>
            Apply Single e-visa
        </button>
        <button class="btn" onclick="location.href='@Url.Action("Review", "Home" )'">
            <i class="fa fa-random"></i>
            Apply Multiple e-visa
        </button>
        <br /><br />
    </div>
</div>



<div class="modal fade"
     id="apply_single_evisa"
     tabindex="-1"
     data-keyboard="false"
     data-backdrop="static"
     role="dialog"
     data-ng-cloak>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-ng-click="closeAppForm();" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Apply Single E-visa Application
            </div>
            <div class="modal-body">
                <p>
                    <i class="fa fa-hand-o-right"></i>
                    To submit your new e-Visa application, please update your "Entry Date & Port of Entry" and other information as the following: 
                </p>
                <div class="col-md-6">
                    <h3>Entry Date</h3>
                    
                    <table >
                        <tr>
                            <td style=" vertical-align: top;">
                                <label>Entry Date to Cambodia:</label>
                            </td>
                            <td>
                                <select ng-model="day_expiry" class="form-control" style="width: 75px;" ng-options="n for n in [] | rangeNumber:31">
                                    <option value="">Day</option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="month_expiry" class="form-control" style="width: 85px;" ng-options="n for n in [] | rangeNumber:12">
                                    <option value="">Month</option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="year_expiry" class="form-control" style="width: 75px;" ng-options="n for n in [] | rangeYearFuture:10">
                                    <option value="">Year</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td height="20px"></td>
                        </tr>
                        <tr>
                            <td>
                                <label> Port of Entry:</label>
                            </td>
                            <td colspan="3">
                                <select class="form-control"
                                        data-ng-model="PortOfEntry"
                                        ng-options="option as option for option in ['Bavet (Svay Rieng)', 'Cham Yeam (Koh Kong)', 'Poi Pet (Banteay Meanchey)', 'Phnom Penh International Airport', 'Siem Reap International Airport']">
                                    <option value="">--Select--</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6" style="margin-bottom: 15px;">
                    <h3>Travel Information (Optional)</h3>
                    <label>Mod of Travelling</label>
                    <select class="form-control"
                            data-ng-model="ModOfTravel"
                            ng-options="option as option for option in ['Bus', 'Car', 'Flight', 'Motocycle', 'Walk']">
                        <option value="">--Select--</option>
                    </select>

                    <label>Arrival Vehicle No</label>
                    <input ng-model="ArrivalVehicleNo" type="text" class="form-control">

                    <label>Arrival Time</label>
                    <select class="form-control" data-ng-model="ArrivalTime"
                            ng-options="option as option for option in ['12:00 AM', '12:15 AM', '12:30 AM', '12:45 AM', '01:00 AM',
                        '01:15 AM','01:30 AM','01:45 AM','02:00 AM','02:15 AM','02:30 AM','02:45 AM','03:00 AM','03:15 AM','03:30 AM','03:45 AM',
                        '04:00 AM','04:15 AM','04:30 AM','04:45 AM','05:00 AM','05:15 AM','05:30 AM','05:45 AM','06:00 AM','06:15 AM', '06:30 AM',
                        '06:45 AM','07:00 AM','07:15 AM','07:30 AM','07:45 AM','08:00 AM','08:15 AM','08:30 AM','08:45 AM','09:00 AM', '09:15 AM',
                        '09:30 AM','09:45 AM','10:00 AM','10:15 AM','10:30 AM','10:45 AM','11:00 AM','11:15 AM','11:30 AM','11:45 AM', '12:00 PM',
                        '12:15 PM','12:30 PM','12:45 PM','01:00 PM','01:15 PM','01:30 PM','01:45 PM','02:00 PM','02:15 PM','02:30 PM', '02:45 PM',
                        '03:00 PM','03:15 PM','03:30 PM','03:45 PM','04:00 PM','04:15 PM','04:30 PM','04:45 PM','05:00 PM','05:15 PM', '05:30 PM',
                        '05:45 PM','06:00 PM','06:15 PM','06:30 PM','06:45 PM','07:00 PM','07:15 PM','07:30 PM','07:45 PM','08:00 PM', '08:15 PM',
                        '08:30 PM','08:45 PM','09:00 PM','09:15 PM','09:30 PM','09:45 PM','10:00 PM','10:15 PM','10:30 PM','10:45 PM', '11:00 PM',
                        '11:00 PM','11:15 PM','11:30 PM','11:45 PM',
                        ]">
                        <option value="">--Select--</option>
                    </select>

                    <label>Address During Visit</label>
                    <input ng-model="AddressDuringVisit" type="text" class="form-control">

                    <label>Organization, Persons To</label>
                    <input ng-model="OrganizationPersonsTo" type="text" class="form-control">
                </div>
            </div>            
            <div class="clearfix"></div>
            <div class="modal-footer" data-ng-show="delete">
                <button class="btn" data-ng-click="closeAppForm();" data-dismiss="modal">Close</button>
                <button type="button" class="btn" data-ng-click=""><i class="fa fa-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>