@{
    ViewBag.Title = "ApplicationStatus";
}

<div class="content">
    <div class="container">
        <br />
        <h1>Application Status</h1>
        <b>This is your e-Visa application references. </b>
        <br /><br />
        <table style="width: 450px;" class="table table-bordered table-striped">
            <tr>
                <td>Reference Number</td>
                <td>115082600810</td>
            </tr>
            <tr>
                <td>Primary E-mail</td>
                <td>hy.chanhan@gmail.com</td>
            </tr>
            <tr>
                <td>Date of Applying</td>
                <td>27 August 2015, 10:30 AM</td>
            </tr>
            <tr>
                <td>Payment Status</td>
                <td>Successful / Failed</td>
            </tr>
        </table>
        <div style="font-size:12px">
            <i class="fa fa-save"></i> Save | 
            <i class="fa fa-print"></i> Print | 
            <i class="fa fa-send-o"></i> Send to Primary E-mail
        </div>
        <br /><br />
        <b>APPLICATION SUBMISSION</b>
        <br /><br />
        <table class="table table-bordered table-striped">
            <tr>
                <th>Surname</th>
                <th>Given Name</th>
                <th>Passport</th>
                <th>Entry Date</th>
                <th>Point of Entry</th>
                <th>e-Visa Status</th>
                <th>Download Certificate</th>
            </tr>
            <tr>
                <td colspan="7">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> No Data.
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>